annotated-types
anyio
bcrypt
blinker
certifi
cffi
chardet
charset-normalizer
click
colorama
cryptography
distro
dnspython
email_validator
filelock
Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF
fsspec
greenlet
h11
httpcore
httpx
idna
itsdangerous
Jinja2
jiter
lxml
MarkupSafe
mpmath
networkx
numpy
openai
packaging
pdfkit
pdfminer
pdfminer.six
pillow
pycparser
pycryptodome
pydantic
pydantic_core
PyPDF2
python-docx
python-dotenv
PyYAML
regex
reportlab
requests
setuptools
sniffio
SQLAlchemy
sympy
urllib3
Werkzeug
WTForms
gunicorn
